<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">
	
	<bean id="mainDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.dataSource.driver-class}"/>
		<property name="jdbcUrl" value="${jdbc.dataSource.url}"/>
		<property name="username" value="${jdbc.dataSource.username}"/>
		<property name="password" value="${jdbc.dataSource.password}"/>
		<property name="idleConnectionTestPeriodInSeconds" value="${jdbc.dataSource.idleConnectionTestPeriodInSeconds}"/>
		<property name="idleMaxAgeInSeconds" value="${jdbc.dataSource.idleMaxAgeInSeconds}"/>
		<property name="maxConnectionsPerPartition" value="${jdbc.dataSource.maxConnectionsPerPartition}"/>
		<property name="minConnectionsPerPartition" value="${jdbc.dataSource.minConnectionsPerPartition}"/>
		<property name="partitionCount" value="${jdbc.dataSource.partitionCount}"/>
		<property name="acquireIncrement" value="${jdbc.dataSource.acquireIncrement}"/>
		<property name="statementsCacheSize" value="${jdbc.dataSource.statementsCacheSize}"/>
	</bean>
	<bean id="dataSource" class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
		<property name="targetDataSource" ref="mainDataSource"/>
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
		<property name="typeAliasesPackage" value="net.fantesy84.**.domain"/>
		<property name="mapperLocations" value="classpath*:sqlmap/*/*Mapper.xml"/>
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
		<property name="basePackage" value="net.fantesy84.**.mapper"/>
	</bean>
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
